<!-- Social Buttons -->
<div class="social-buttons box">
    <h3>تابعنا</h3>
    <hr>
    <div class="social-button">
        <div class="row">
            <button class="youtube">
                <span><i class="fa-brands fa-youtube"></i></span>
                يوتيوب
            </button>
            <button class="facebook">
                <span><i class="fa-brands fa-facebook"></i></span>
                فيسبوك
            </button>
            <button class="x">
                <span><i class="fa-brands fa-twitter"></i></span>
                تويتر
            </button>
            <button class="tiktok">
                <span><i class="fa-brands fa-tiktok"></i></span>
                تيك توك
            </button>
        </div>
    </div>
</div>

<!-- Ad Space -->
<div class="ad-space box">
    <h3>إعلان</h3>
    <hr>
    <img src="http://127.0.0.1:5500/ad-placeholder.png" alt="Ad Space">
</div>

<!-- Google Translate -->
<div class="google-translate box">
    <h3>ترجمة جوجل</h3>
    <hr>
    <div id="google_translate_element"></div>
</div>

<!-- Categories -->
<div class="categories box">
    <h3>الأقسام</h3>
    <hr>
    <ul></ul>
</div>