<i class="fas fa-bars" id="mobile-menu-icon-close" title="القائمة"></i>
<!--<div class="title desktop-title"><span class="blue">ومضة</span> <span class="black">معرفة</span></div>
-->
<img src="http://127.0.0.1:5500/title.png" class="title-img" style="width: 250px;" alt="title">
<div class="search-bar-wrapper" id="search-wrapper">
    <div class="search-bar-background"></div>
    <div class="search-bar-container">
        <input type="text" class="search-bar" placeholder="ابحث عن مقالات..." />
        <i class="fas fa-search"></i>
    </div>
</div>
<ul>
    <li><i class="fas fa-house icon-before"></i><a href="http://127.0.0.1:5500/index.html">الصفحة الرئيسية</a></li>
    <li><i class="fas fa-video icon-before"></i><a href="https://www.youtube.com/@flash-knowledge">قناتنا</a></li>
    <li><i class="fas fa-hand-holding-heart icon-before"></i><a href="https://paypal.me/23MohammedYT">التبرع</a></li>
    <li class="dark-mode-item">
        <div>
            <i class="fas fa-moon icon-before"></i>
            <label for="darkmode-checkbox">الوضع الداكن</label>
        </div>
        <label class="switch">
            <input type="checkbox" id="darkmode-checkbox" />
            <span class="slider"></span>
        </label>
    </li>
    <li><i class="fas fa-info-circle icon-before"></i><a href="http://127.0.0.1:5500/about.html">من نحن</a></li>
    <li><i class="fas fa-phone icon-before"></i><a href="http://127.0.0.1:5500/contact.html">اتصل بنا</a></li>
    <li><i class="fas fa-shield-alt icon-before"></i><a href="http://127.0.0.1:5500/privacy.html">سياسة الخصوصوية</a></li>
</ul>